/* common code */
* {
    box-sizing: border-box;
}
body {
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  margin: 0; 

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 20px; 
}
    html {
    font-size: 16px;
}
  #copy{
color:#6f7988;
}
  p i {
  font-weight: bold;
  font-size: 1.2rem;
}
  .name{
  color: #f042a8ce;
  font-size: 1rem;
}
  sup,sub{
  color: #000000;
  font-size: 1.1rem ;
}
  u{
    color: #0a0a23;
    font-weight: bolder;
    text-decoration:line-through underline;
    font-size: 1.2rem;
}
  details[open] summary{
    background-color:red;
}
  summary{
    background-color: #96D4D4;
}
pre{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 1.5rem;
}
  .html-all{
   list-style: none;
    font-weight: bolder;
}
  dl{
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}
  dt{
    color: pink;
    font: 1.4em sans-serif;
    text-shadow: 2px 2px #c05858;
}
  dd{
    color: plum;
    font: 1.3em sans-serif;
    text-shadow: 2px 2px #40cbe1;
}
  address{
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px red;
}
  #code{
    color: #f49696;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}
  .ol-list{
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #04d6e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-style: inherit;
    list-style:none;
    background-color: #1b1b1b;
    display: flex;
    font-size: 1.5rem;
    padding: 20px;
}
  .ol-list li {
    margin-right: 20px;
}
  i{
    margin-top: 5px;
    margin-right: 5px;
}
  marquee{
    color: #87254e8a;
    font-style: inherit;
    font-weight: bolder;
    text-shadow: -3px -5px 5px #4532f1, 3px 4px 6px rgb(245, 62, 113);
    font-size: 2rem;
    margin-top: -5px;  
}
  /* common code */

  /* header top start here */
  header {
    width: 100%;
    height: 60px;
    background-color: #1b1b32;
    display: flex;
    color: white;
}
  #logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 34 / 4;
    padding: 0.6rem;
}
  h1 {
    color: #f1be32;
    font-size: min(6vw, 1.4em);
}
  nav {
    width: 60%;
    max-width: 300px;
    height: 60px;
}
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
  ul li {
    color: #96D4D4;
    list-style-type: none;
} 
/* ======== */ 
  .label {
    border: 2px solid rgb(0, 0, 0);
    width: 380px;
    height: 80%;
    margin: 10px auto;
    padding: 0 7px;
    color: white;
    background-color: #0a0a23;
}  
  header h2 {
    text-align: center;
    margin: -10px 0;
    letter-spacing: 0.15px
} 
  p {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}  
  .divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}
  .bold {
    font-weight: 800;
}
  .large {
    height: 10px;
}
  .large, .medium {
    background-color: #a0a0a0;
    border: 0;
}
  .medium {
    height: 5px;
}
  .small-text {
    font-size: 0.85rem;
}   
  .calories-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} 
  .calories-info h2 {
    margin: 0;
} 
  .left-container p {
    margin: 5px 2px;
    font-size: 2em;
    font-weight: 700;
} 
  .calories-info span {
    margin: -7px -2px;
    font-size: 2.4em;
    font-weight: 700;
}
  .right {
    justify-content: flex-end;
}
  .indent {
    margin-left: 1em;
}
.double-indent {
    margin-left: 2em;
} 
  .daily-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;
}
  .note {
    font-size: 0.6rem;
    margin: 5px 0;
    padding:0 8px;
    text-indent:-8px;
}
/* <!-- img starts here --> */

.header {
  
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}
.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
}
.gallery::after {
  content: "";
  width: 350px;
}
/* <!-- img starts here --> */

/* CSS Color Markers start here */
h2 {
  text-align: center;
}
.container {
  background-color: rgb(0, 208, 255);
  padding: 10px 0;
  margin: 10px;
}
.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}
.cap {
  width: 60px;
  height: 25px;
}
.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 10px double rgba(0, 0, 0, 0.75);
}
.cap, .sleeve {
  display: inline-block;
}
.red {
  background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
  box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}
.green {
  background: linear-gradient(#55680D, #71F53E, #116C31);
  box-shadow: 0 0 20px 0 #3B7E20CC;
}
.blue {
  background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
  box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
}
/* CSS Color Markers ends here  */

 h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 10px;
}
  h2 {
    font-size: 30px;
}
  .established {
    font-style: italic;
} 
  h1, h2, p {
    text-align: center;
}
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 500px;
}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
} 
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
} 
  .bottom-line {
    margin-top: 25px;
} 
  h1, h2 {
    font-family: Impact, serif;
}  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}  
  .flavor, .dessert {
    text-align: left;
    width: 73%;
}  
  .price {
    text-align: right;
    /* width: 20%; */
}  
  footer {
    font-size: 14px;
}  
  .address {
    margin-bottom: 5px;
} 
  a {
    color: black;
} 
  a:visited {
    color: rgb(101, 61, 61);
}  
  a:hover {
    color: brown;
} 
  a:active {
    color: rgb(251, 92, 92);
}
/* ----form start here---- */
.pera-header{
  margin:auto;
  text-align: center;
}
.eaque{
    background-color: #1b1b32;  
  color: #f5f6f7;  
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em; 
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type {
  border-bottom: none;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}
input[type="file"] {
  padding: 1px 2px;
}
.inline{
  display: inline; 
}
/* ----form ends here---- */

/* table start here */
table {
  color:black;
  text-align:center;
  font-size:160%;
  font-family:verdana,arial;
  border-collapse: collapse; 
  height:400px; 
  width:380px;
  border-style: dotted;
  margin: auto;
}
table, tr, th, td {
    border:1px solid black;
    border-style:dotted;
}
.device, th{
    background-color: #96D4D4;
}
.center{
  margin: auto;
  text-align: center;
  background-color: #a0a0a0;
}
.color{
  color: #ff898f;
  text-align:center ;
}
/* table start here */
#color-p{
  text-align: center;
}

/* footer area start here */
.last-footer{
  background-color: #1b1b32;
  color: white;
  text-align: center;
}
.col-lg-6{   
    text-align: center;
}
.social-menus{
    font-size: 1.5rem;    
}
.icon-style{
    color: white;
}
.social-menus :hover{
    color: rgb(255, 60, 96);
}
/* footer area ends here */
